<div class="card-columns">
    <div class="card" *ngFor="let user of users" style="width: 18rem;">
    <img [src]="user.avatar_url" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ user.login }}</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a [href]="user.html_url" class="btn btn-primary">link to user</a>
            <a [href]="repos_url" class="btn btn-primary">link to repos</a>
        </div>
    </div>
</div>